/*--------------------------------------------------------------------------*/
/*                                Reusable variables                        */
/*--------------------------------------------------------------------------*/
:root {
  --common-background-color: #a2d0c1;
  --options-text-color: #222831;
  --link-hover: #41aea9;
  --name-text-color: #007965;
  --text-color: #e6f5ff;
  --h2-title-color: #00adb5;
  --h3-title-color: #28abb9;
  --top-green: #75cfb8;
  --bg-white: #f4f9f4;
  --black: #222831;
}

/*--------------------------------------------------------------------------*/
/*                                Reset CSS                                 */
/*--------------------------------------------------------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

/*--------------------------------------------------------------------------*/
/*                                GLOBAL Styles                             */
/*--------------------------------------------------------------------------*/

body {
  font-family: "Merriweather", serif;
  color: var(--black);
  background: var(--bg-white);
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 1.15rem;
}


h2 {
  color: var(--h2-title-color);
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

.under-name {
  color: var(--name-text-color);
  font-size: 1.5rem;
}

h3 {
  color: var(--h3-title-color);
  font-family: "Montserrat", sans-serif;
}

hr {
  border: dotted #707070 6px;
  border-bottom: none;
  width: 4%;
  margin: 10rem auto;
}

p {
  line-height: 2;
}

a {
  color: var(--options-text-color);
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  transition: all 0.5s ease 0s;
}

a:hover {
  color: var(--name-text-color);
}

/*--------------------------------------------------------------------------*/
/*                          Navigation Global                               */
/*--------------------------------------------------------------------------*/
.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-white);
  position: fixed;
  width: 100%;
  height: 12vh;
  z-index: 1;
}

.navigation-container img {
  background-color: #093637;
  background-image: linear-gradient(180deg, #093637 0%, #44a08d 100%);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-left: 10%;
}

#navigation-link-container {
  padding: 0;
  list-style: none;
  display: flex;
  margin-right: 5%;
}

.navigation-link {
  text-decoration: none;
  font-size: 1.2rem;
  border-bottom: 4px solid var(--top-green);
  border-color: var(--bg-white);
  padding: 0.3rem;
  margin: 2rem;
}

.navigation-link:hover {
  color: var(--options-text-color);
  border-bottom-color: #007965;
}

/*--------------------------------------------------------------------------*/
/*                   Decoration Welcome Secion Global                       */
/*--------------------------------------------------------------------------*/

.top-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: #28df99;
  background-image: linear-gradient(0deg, #28df99 0%, var(--bg-white) 85%);
  padding-top: 13vh;
}

.top-cloud {
  animation: topCloudMoving 20s linear infinite;
  animation-delay: 4s;
}

.bottom-cloud {
  animation: bottomCloudMoving 20s linear infinite;
  animation-delay: 4s;
}

.mountain-image {
  width: 40rem;
}

/* ------- "Hi Phong" Box with typing animation ------  */
h1 {
  color: #4a4a4a;
  font-size: 4.625rem;
  font-weight: 400;
  font-family: "Courier New", sans-serif;
  display: inline-block;
}

.curly-braces {
  font-size: 7rem;
  color: #ee4266;
}

.typewriter {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.5rem solid #007880;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0;
  /* Adjust as needed */
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: typing 3.5s steps(30, end), blink-caret 1s step-end infinite;
}

/*--------------------------------------------------------------------------*/
/*                              Middle Global                               */
/*--------------------------------------------------------------------------*/

.middle-container {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.profile * {
  margin: 2rem auto;
}

.profile img {
  margin-top: 0;
  background-color: #093637;
  background-image: linear-gradient(180deg, #093637 0%, #44a08d 100%);
  width: 12rem;
  border-radius: 50%;
}

.intro {
  width: 40%;
  color: var(--bg-white);
  background-color: #093637;
  background-image: linear-gradient(180deg, #093637 0%, #44a08d 100%);
  padding: 2rem;
  border-radius: 1rem;
}

/*----------------------- Skills & Project Show Cases --------------------*/
.typewriter {
  border-right-width: 0.4rem;
  height: 7.5rem;
}

#work {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.skill-row {
  display: flex;
  display: -webkit-flex;
  justify-content: space-evenly;
  align-items: center;
  width: 95%;
  margin: 10rem auto;
  text-align: left;
  border-radius: 3rem;
  padding: 4rem 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 1s cubic-bezier(.25, .8, .25, 1);
}


.skill-row a {
  margin: 0;
  padding: 0;
}

.skill-row img {
  width: 450px;
  height: 450px;
  margin: 0;
  padding: 0;
}

.skill-row:hover {
  box-shadow: 0 55px 66px rgba(0, 0, 0, 0.25), 0 30px 30px rgba(0, 0, 0, 0.22);
}

.skill-row:hover a {
  -webkit-transform: translateY(-15px);
  /* Safari and Chrome */
  -moz-transform: translateY(-15px);
  /* Firefox */
  -ms-transform: translateY(-15px);
  /* IE 9 */
  -o-transform: translateY(-15px);
  /* Opera */
  transform: translateY(-15px);
}

.skill-description {
  text-align: left;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  width: 50%;
}

.skill-description * {
  margin: 0.5rem 0;
}

.skill-description h3 {
  font-size: 2rem;
}

/* Skills Box Colors */
.skill-mobile-1 {
  color: #605a56;
  background-color: #ffc1f3;
  background-image: linear-gradient(0deg, #ffc1f3 0%, #ffefa1 90%);
}

.skill-mobile-1 h3 {
  color: #000000;
}

.skill-mobile-2 {
  color: #aaaaaa;
  background-color: #0acf83;
  background-image: linear-gradient(20deg, #0acf83 0%, #000000 30%);
}

.skill-mobile-2 h3 {
  color: #fff;
}

.skill-mobile-3 {
  color: #a98b98;
  background-color: #b8b5ff;
  background-image: linear-gradient(0deg, #b8b5ff 0%, #ffe8e8 40%);
}

.skill-mobile-3 h3 {
  color: #351f39;
}

.skill-mobile-4 {
  color: #7e7474;
  background: #ee9ca7;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ffdde1, #ee9ca7);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ffdde1, #ee9ca7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.skill-mobile-4 h3 {
  color: #000;
}


.skill-mobile-5 {
  color: #d8ebe4;
  background-color: #008891;
  background-image: linear-gradient(0, #008891 30%, #153e90 100%);
}

.skill-mobile-5 h3 {
  color: #fff;
}

.skill-mobile-6 {
  color: #726a95;
  background-color: #A770EF;
  background-image: linear-gradient(50deg, #A770EF 0%, #ffe3fe 70%);
}

.skill-mobile-6 h3 {
  color: #350b40;
}

/* ----------------- Adjust Skills Images Size -----------  */
.simon-link {}

.simon-link img {}

.code-img {}

.computer-img {}

/* -------------------- Contact Section ---------------- */
.contact-me {
  margin: 5rem auto;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
}

.contact-me * {
  margin: 5rem auto;
}

.contact-message {
  width: 35%;
}

#btn-email {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 3rem;
  width: 10rem;
  height: 3rem;
  font-size: 1.5rem;
  border: 2px solid var(--h2-title-color);
  color: var(--h2-title-color);
  font-family: "Montserrat", sans-serif;
  transition: all 150ms ease;
  padding-right: 1rem;
}

#btn-email:hover {
  background: var(--h2-title-color);
  color: black;
}

/*--------------------------------------------------------------------------*/
/*                              Footer Global                               */
/*--------------------------------------------------------------------------*/
.bottom-container {
  display: flex;
  flex-direction: column;
  background: var(--top-green);
  align-items: center;
  justify-content: space-evenly;
  height: 250px;
}

.bottom-container ul {
  padding: 0;
  margin: 0;
  display: flex;
  width: 20%;
  list-style: none;
  justify-content: space-between;
}

.github {
  text-align: center;
}

.github i {
  font-size: 2.5rem;
  transition: all 0.5s ease;
  border-radius: 5px;
}

.github i:hover {
  background: #000;
  color: var(--bg-white);
}

.contact-me h3 {
  width: 23rem;
  margin: 0 auto;
}

.copyright {
  color: #184d47;
  font-size: 14px;
}

/*--------------------------------------------------------------------------*/
/*                              Animation                                   */
/*--------------------------------------------------------------------------*/
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 50%;
  }
}

/* cloud moving effect */
@keyframes topCloudMoving {

  0%,
  100% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-600px);
  }

}

@keyframes bottomCloudMoving {

  0%,
  100% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(800px);
  }

}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: #007880;
  }
}

/*--------------------------------------------------------------------------*/
/*                              MOBILE                                      */
/*--------------------------------------------------------------------------*/
@media only screen and (max-width: 430px) {


  /* -------- Name Tag Selector Styles ----------- */
  body {
    font-size: 1rem;
  }

  h2 {}

  .under-name {}

  h3 {}

  hr {
    border: dotted #707070 6px;
    border-bottom: none;
    width: 10%;
  }

  p {}

  a {}

  a:hover {}

  /*--------------------------------------------------------------------------*/
  /*                          Navigation                 MOBILE               */
  /*--------------------------------------------------------------------------*/
  .navigation-container {
    justify-content: space-between;
    height: 10vh;
    z-index: 1;
  }

  .navigation-container img {
    width: 3rem;
    height: 3rem;
    margin: 0;
    padding: 0;
    margin-left: 3%;
  }

  #navigation-link-container {
    padding: 0;
    margin: 0;
    margin-right: 0;
  }

  .navigation-link {
    margin: 1rem;
  }

  .navigation-link:hover {}

  /*--------------------------------------------------------------------------*/
  /*                   Decoration Welcome Secion            MOBILE            */
  /*--------------------------------------------------------------------------*/

  .top-container {}

  .top-cloud {}

  .bottom-cloud {}

  .mountain-image {}

  /* ------- "Hi Phong" Box with typing animation ------  */
  h1 {
    font-size: 1.9rem;
  }

  .curly-braces {
    font-size: 4rem;
  }

  .typewriter {
    /* Ensures the content is not revealed until the animation */
    border-right: 0.5rem solid #007880;
    border-right-width: 0.3rem;
    height: 4rem;
  }

  /*--------------------------------------------------------------------------*/
  /*                              Middle                MOBILE                */
  /*--------------------------------------------------------------------------*/

  .middle-container {}

  .profile {}

  .profile * {
    margin: 2rem auto;
  }

  .profile img {
    width: 10rem;
  }

  .intro {
    padding: 1.3rem;
    width: 95%;
    color: var(--bg-white);
    background-color: #093637;
    background-image: linear-gradient(180deg, #093637 0%, #44a08d 100%);
    border-radius: 0.7rem;
  }

  /*----------------------- Skills & Project Show Cases --------------------*/


  #work {}

  .skill-row {
    width: 90%;
    padding: 1.5rem 1.5rem;
    margin: 2.5rem auto;
    border-radius: 1.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
    flex-direction: column;
  }

  .skill-row:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .skill-row:hover a {
    -webkit-transform: translateY(-15px);
    /* Safari and Chrome */
    -moz-transform: translateY(-15px);
    /* Firefox */
    -ms-transform: translateY(-15px);
    /* IE 9 */
    -o-transform: translateY(-15px);
    /* Opera */
    transform: translateY(-15px);
  }

  .skill-row a {
    order: 1;
  }

  .skill-row img {
    order: 1;
    width: 200px;
    height: 200px;
  }

  .skill-row * {
    margin: 0.5rem 0;
  }

  .skill-description {
    order: 0;
    text-align: left;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    width: 100%;
  }

  .skill-description h3 {
    text-align: center;
    font-size: 1.7rem;
  }

  /* Skills Box Colors */
  .skill-mobile-1 {
    /* height: 37rem; */
    color: #605a56;
    background-color: #ffc1f3;
    background-image: linear-gradient(0deg, #ffc1f3 0%, #ffefa1 90%);
  }

  .skill-mobile-1 h3 {
    color: #000000;
  }

  .skill-mobile-2 {
    /* height: 34rem; */
    color: #aaaaaa;
    background-color: #0acf83;
    background-image: linear-gradient(20deg, #0acf83 0%, #000000 30%);
  }

  .skill-mobile-2 h3 {
    color: #fff;
  }

  .skill-mobile-3 {
    /* height: 36rem; */
    color: #a98b98;
    background-color: #b8b5ff;
    background-image: linear-gradient(0deg, #b8b5ff 0%, #ffe8e8 40%);
  }

  .skill-mobile-3 h3 {
    color: #351f39;
  }

  .skill-mobile-4 {
    /* height: 36rem; */
    color: #7e7474;
    background: #ee9ca7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ffdde1, #ee9ca7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ffdde1, #ee9ca7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .skill-mobile-4 h3 {
    color: #000;
  }


  .skill-mobile-5 {
    color: #d8ebe4;
    background-color: #008891;
    background-image: linear-gradient(0, #008891 30%, #153e90 100%);
  }

  .skill-mobile-5 h3 {
    color: #fff;
  }

  .skill-mobile-6 {
    color: #726a95;
    background-color: #A770EF;
    background-image: linear-gradient(50deg, #A770EF 0%, #ffe3fe 70%);
  }

  .skill-mobile-6 h3 {
    color: #350b40;
  }

  /* ----------------- Adjust Skills Images Size -----------  */
  .simon-link {}

  .simon-link img {}

  .code-img {}

  .computer-img {}

  /* -------------------- Contact Section ---------------- */
  .contact-me {}

  .contact-me * {
    margin: 3.5rem auto;
  }

  .contact-message {
    width: 95%;
  }

  #btn-email {
    width: 11rem;
    height: 3.5rem;
    font-size: 1.5rem;
    padding-right: 1.5rem;
  }

  #btn-email:hover {}

  /*--------------------------------------------------------------------------*/
  /*                              Footer                 MOBILE               */
  /*--------------------------------------------------------------------------*/
  .bottom-container {
    justify-content: space-evenly;
    height: 18rem;
  }

  .bottom-container ul {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-evenly;
  }

  .github {}

  .github i {}

  .github i:hover {}



  .copyright {}

  /* ======== TYPE WRITER  =========== */
  /* The typing effect */
  @keyframes typing {
    from {
      width: 0;
    }

    to {
      width: 95%;
    }
  }

  /* cloud moving effect */
  @keyframes topCloudMoving {

    0%,
    100% {
      transform: translateX(80px);
    }

    50% {
      transform: translateX(-40px);
    }

  }

  @keyframes bottomCloudMoving {

    0%,
    100% {
      transform: translateX(-80px);
    }

    50% {
      transform: translateX(20px);
    }

  }

  /*--------------------------------------------------------------------------*/
  /*                     END                        MOBILE                    */
  /*--------------------------------------------------------------------------*/
}


/*--------------------------------------------------------------------------*/
/*            START                        iPAD                             */
/*            PORTRAIT ONLY                                                 */
/*--------------------------------------------------------------------------*/
@media only screen and (min-device-width: 480px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* =============== TOP Container ================ */
  /* ======= END OF IPAD ======== */

}

/* LANDSCAPE IPAD */
@media only screen and (min-device-width: 480px) and (max-device-width: 1024px) and (orientation:landscape) {

  /* =============== TOP Container ================ */

  /* ======= END OF IPAD ======== */

}