body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #eeeeee;
  background-color: #222831;
}

h1 {
  color: #4a4a4a;
  margin: 50px auto 0 auto;
  font-size: 4.625rem;
  font-weight: 400;
  font-family: "Courier New", sans-serif;
  display: inline-block;
}

.curly-braces {
  font-size: 7.625rem;
  color: #ee4266;
}

h2 {
  color: #00adb5;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  /*1rem is 16px*/
  font-weight: normal;
  padding-bottom: 10px;
}

.under-name {
  font-size: 1.5rem;
}

h3 {
  color: #00adb5;
  font-family: "Montserrat", sans-serif;
}

hr {
  border: dotted #393e46 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

p {
  line-height: 2;
}

a {
  color: #11999e;
  text-decoration: none;
  padding: 10px 20px;
  font-family: "Montserrat", sans-serif;
  transition: all 0.5s ease 0s;
}

a:hover {
  color: #042526;
}

.copyright {
  color: #00adb5;
  font-size: 14px;
  padding: 20px 0;
}

/* Navigation container */
.navigation-container {
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
  padding-top: 60px;
  padding-bottom: 70px;
}

.navigation-link-container {
  margin-right: 100px;
}

.navigation-link {
  color: #11999e;
  text-decoration: none;
  font-size: 1.2rem;
}

.navigation-link:hover {
  color: #042526;
}

.checked {
  color: #042526;
}

.top-container {
  padding-top: 100px;
  background-color: #eeeeee;
  position: relative;
}

/* Middle container */

.middle-container {
  margin: 100px auto;
}

/* Bottom container */
.bottom-container {
  background-color: #eeeeee;
  color: #222831;
  padding: 50px 0 20px;
}

.github {
  font-size: 50px;
  width: 50px;
  margin: 20px auto;
  margin-top: 30px;
  border-radius: 50%;
  text-align: center;
}

.github a {
  text-align: center;
  margin: 0 auto;
  max-width: 100px;
}

.github i {
  transition: all 0.4s ease-in-out;
  border-radius: 50%;
}

.github i:hover {
  color: #a2d0c1;
  background-color: #2c061f;
}



/* 
Top container */
.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.profile-img {
  width: 75px;
  margin-left: 5rem;
  bottom: 20px;
  position: relative;
  background-color: #c8e8ed;
}

.profile img {
  margin: 60px auto;
  width: 150px;
}

.mountain-image {
  position: relative;
  bottom: -4px;
}

.radius-img {
  border-radius: 50%;
}

/* Skill row container */
.skill-row {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

/* simon project styles  */
.simon-link {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-top: 10px;
}

.simon-link img {
  width: 100%;
  margin-top: 5px;
}

.skill-description {
  width: 70%;
  margin-left: 20px;
  margin-top: 10px;
}


.code-img {
  width: 20%;
  height: 20%;
  margin: 10px auto;
}

.computer-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #63b7b7;
  border: 1px solid #11999e;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Courier New;
  color: #40514e;
  font-size: 24px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
  top: 30px;
  transition: all 0.6s ease 0s;
}

.btn:hover {
  background: #11999e;
  text-decoration: none;
}

.contact-me {
  line-height: 2;
  margin: 100px auto;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto;
}

/* btn email */
.btn-email:link,
.btn-email:visited {
  border: 0;
  font-size: 1.8rem;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
  animation: moveInBottom 1s ease-out 0.9s;
  animation-fill-mode: backwards;
}

.btn-email:hover {
  transform: translateY(-3px);
  /* x y blur color */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #66bfbf;
}

.btn-email:active {
  transform: translateY(1px);
  box-shadow: 0 5px 10px #71c9ce;
}

/* using pseudo class ::after , and putting it behind the button element*/
.btn-email::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  /* references by the relative element which is the button */
  position: absolute;
  top: 0;
  left: 0;
  /* define the postion of the button, one on top of another */
  z-index: -1;
  transition: all 0.4s;
}

.btn-email::after {
  background-color: #66bfbf;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.typewriter {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.12em solid #007880;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0;
  /* Adjust as needed */
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: typing 3.5s steps(30, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 60%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: #007880;
  }
}

/* Responsive on mobile */
@media only screen and (max-width: 800px) {
  b {
    background-color: #71c9ce;
  }

  /* Profile Image */
  .profile-img {
    width: 120px;
    margin: 0 auto;
  }

  .curly-braces {
    font-size: 5.625rem;
  }

  h1 {
    font-size: 3rem;
  }

  /* Navigation Bar*/
  .navigation-container {
    display: flex;
  }

  .profile-img {
    display: inline-block;
  }

  /* Skills and description on mobile */
  .skill-row {
    flex-direction: column;
    text-align: center;
    margin: 70px auto;
  }

  .skill-description {
    margin: 0 auto;
    order: 2;
    text-align: left;
  }

  .res-skill-imgs {
    width: 120px;
    height: 120px;
    order: 1;
    margin: 5px auto
  }

  /* The typing effect */
  @keyframes typing {
    from {
      width: 0;
    }

    to {
      width: 75%;
    }
  }

}